.questions {
    margin: 3px;
    padding: 0.5em;
    border-width: 2px;
    border-radius: 3px;
    border: solid;
}
.hide {
    display: none;
}
.testInfo {
    border: solid;
    margin: 3px;
    border-radius: 3px;
}