.questions {
    margin: 3px;
    padding: 0.5em;
    border-width: 2px;
    border-radius: 3px;
    border: solid;
}

.question-correct{
    background-color: green;
}

.question-wrong{
    background-color: red;
}